@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src:
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src:
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}


body{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

a {
  text-decoration: none;
}

.content__button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;
  color: #000000;
  width: 220px;
  z-index: 1;
}

.content__button::after {
  content: "";
  width: inherit;
  height: 8px;
  background: #f0c42e;
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  z-index: -1;
}

.content__button:hover::after,
.content__button:focus::after {
  transform: scaleY(5);
}

.content__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.list-format {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.column {
  width: 50%;
}

/* Header */

.page-navigation {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 55px;
  background-color: #f7e196;
  box-shadow: inset 0 40px 0 0 #ffffff;
}

.page-header__logo-container {
  order: 0;
  margin-top: 21px;
  margin-bottom: 20px;
}

.top {
  margin-bottom: 34px;
}

.page-navigation .right-column {
  display: flex;
}

.sub-menu .column {
  width: 200px;
  margin-right: 40px;
}

.right-column .main-menu__item:first-child {
  margin-right: 30px;
}

.right-column .main-menu__item:last-child {
  margin-left: auto;
}

.right-column .header-user-menu__button:first-child {
  margin-right: auto;
}

.right-column .header-user-menu__button:last-child {
  margin-left: 80px;
}

.main-menu__item {
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 4px;
}

.main-menu__item:hover,
.main-menu__item:focus {
  opacity: 0.6;
}

.main-menu__item:active {
  opacity: 0.3;
}


.sub-menu {
  display: none;
  position: absolute;
  padding-left: 60px;
  padding-top: 20px;
  width: 1100px;
  top: 180px;
  left: 0;
  z-index: 10;
  background-color: #f7e196;
}
.main-menu__wrapper {
  width: inherit;
}
.main-menu__wrapper:hover  .sub-menu,
.main-menu__wrapper:focus  .sub-menu {
  display: block;
}

.sub-menu__item {
  display: block;
  /* width: 200px; */
  /* margin-right: 40px; */
  margin-bottom: 9px;
  font-family: inherit;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0;
  color: #000000;
}

.sub-menu__item:hover,
.sub-menu__item:focus {
  opacity: 0.6;
}

.sub-menu__item:active {
  opacity: 0.3;
}

.header-user-menu__button {
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.header-user-menu__button:hover,
.header-user-menu__button:focus {
  opacity: 0.6;
}

.header-user-menu__button:active {
  opacity: 0.3;
}

.page-header__logo--clickable:hover,
.page-header__logo--clickable:focus {
  opacity: 0.6;
}

.page-header__logo--clickable:active {
  opacity: 0.3;
}

/* ------------------!!!--------------------

                Search Form

  ------------------!!!-------------------- */

.search-form__label {
  opacity: 0.3;
}

.search-form__label:hover {
  opacity: 0.6;
}

.search-form__field {
  border: none;
  background-color: #f7e196;
}

.search-form__button {
  display: none;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__field::placeholder {
  color: transparent;
}

.search-form__field:focus {
  border-bottom: 2px solid #000000;
}
.search-form__field:focus + .search-form__button {
  display: inline-block;
}

.search-form__field:focus::placeholder {
  color: #000000;

}

.search-form__button:hover,
.search-form__button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}


/* ------------------!!!-------------------- */



/* Sliders */

.slider__border {
  background-image: linear-gradient(#f7e196 20%, #ffffff 20%);
  position: relative;
}

.wrapper {
  width: 1040px;
  margin: auto;
}

.slider .right-side {
  position: relative;
}

.slider .right-side::after {
  content: "01";
  position: absolute;
  right: 130px;
  top: -25px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  letter-spacing: 2px;
  line-height: 179px;
  color: #ffffff;
  font-weight: 800;
}


.slider .right-side::before {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider__motto {
  position: relative;
  z-index: 1;
  width: 400px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.slider__text {
  width: 500px;
}

.slider__button {
  width: 220px;
}

.features {
  display: flex;
}

.feature-item {
  margin-right: 60px;
}

.feature-item__text--big {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;

}

.feature-item__text--small {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
}


/* Popular */
.popular {
  margin-top: 80px;
  margin-bottom: 61px;
}
.popular__list {
  justify-content: space-between;
}

.popular__item {
  width: 160px;
}

.popular__item a {
  color: #000000;
}

.popular__img-bg {
  background-color: rgba(240, 197, 46, 0.5);
}

.popular__img {
  height: 160px;
  width: 160px;
  margin-bottom: 39px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vr {
  background-image: url("../img/popular-1.svg");
}

.monopods {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 100%;
}

.cameras {
  background-image: url("../img/popular-3.svg");
  background-position: 54% 52%;
}

.fitness-trackers {
  background-image: url("../img/popular-4.svg");
  background-position: 50% 54%;
}

.smart-watches {
  background-image: url("../img/popular-5.svg");
  background-position: 52% 52%;
}

.copters {
  background-image: url("../img/popular-6.svg");
  background-position: 49% 54%;
}

a:hover .popular__img-bg,
a:focus .popular__img-bg           {
  background-color: rgba(240, 197, 46, 1);
}

a:active .popular__img {
  filter: opacity(0.3);
}

.popular__item a:active {
  color: rgba(0, 0, 0, 0.3)
}

.popular__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}


/* Services */

.services {
  background-color: #e5e5e5;
  box-shadow: inset 0 98px 0 0 #ffffff;
  padding-bottom: 67px;
  margin-bottom: 94px;
}

.services__left-side {
  border-right: 7px solid #000000;
  width: 280px;
  margin-right: 100px;
  padding-top: 50px;
  padding-bottom: 76px;
}

.services__right-side {
  width: 460px;
}
.services__link-item {
  margin-top: 40px;
}
.services__button {
  width: 160px;
}

.services__button:active {
  color: #f7e184;
}

.services__button:active::after {
  width: 278px;
  background-color: #000000;
}

.content__page-title,
.content__section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.content__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

/* Brands */
.brands {
  margin-bottom: 96px;
}

.brands__list {
  justify-content: space-between;
}

.brands__item a{
  filter: opacity(.3) grayscale(1);
}

.brands__item a:hover,
.brands__item a:focus {
  filter: none;
}


/* About */
.about {
  width: 460px;
}
.about__list-item{
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.about__button {
  width: 260px;
}

/* Contacts */
.contacts {
  margin-left: auto;
  width: 560px;
}

.contacts__button {
  margin-right: auto;
  width: 260px;
}

/* Footer */

.inner-page .page-footer .columns {
  justify-content: space-between;
}

.page-footer {
  box-sizing: border-box;
  margin-top: 188px;
  background-color: #454545;
}

.page-footer .columns {
  justify-content: space-between;
}

.page-footer__logo--clickable:hover,
.page-footer__logo--clickable:focus {
  opacity: 0.6;
}

.page-footer__logo--clickable:active {
  opacity: 0.3;
}

.page-footer__text{
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.page-footer__menu-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.page-footer__menu-item a:hover,
.page-footer__menu-item a:focus {
  color: rgba(255, 255, 255, 0.6)
}

.page-footer__menu-item a:active {
  color: rgba(255, 255, 255, 0.3)
}

.page-footer__social {
  display: flex;
}

.page-footer__social-item {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.page-footer__social-item:hover,
.page-footer__social-item:focus {
  opacity: 0.6;
}

.page-footer__social-item:active {
  opacity: 0.1;
}

.facebook {
  background-image: url("../img/facebook.svg");
}
.instagram {
  background-image: url("../img/instagram.svg");
}
.twitter {
  background-image: url("../img/twetter.svg");
}

.footer-user-menu__button {
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-user-menu__button:hover,
.footer-user-menu__button:focus {
  opacity: 0.6;
}

.footer-user-menu__button:active {
  opacity: 0.3;
}

.page-footer__dev-link:hover,
.page-footer__dev-link:focus {
  opacity: 0.6;
}

.page-footer__dev-link:active {
  opacity: 0.3;
}


/*  write us */

.close_button {
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .5;
}

.close_button:hover,
.close_button:focus {
  opacity: 1;
}

.close_button:active {
  opacity: .3;
}

.write-us__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.write-us__field {
  border: none;
  background-color: #f1f1f1;
  font-size: 14px;
  line-height: 18px;
}

.write-us__field:hover {
  background-color: #eaeaea;
}

.write-us__field:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.write-us__field:invalid {
  background-color: #edb5b5;
}

.write-us__button {
  width: 200px;
  background-color: transparent;
  border: none;
}

/* inner-page */

.inner-page .container:first-child {
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}


/* breadcrumbs */
.breadcrumbs,
.breadcrumbs__item a{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.2);
}


.inner-page .columns {
  justify-content: center;
}

.left-side-container {
  width: 328px;
}

/* Filters */

.filters {
  width: 200px;
}

.filter-sorting-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

.filters__title {
  background-color: #dcdcdc;
}

.filter {
  background-color: #efefef;
}

.filters__button {
  width: 200px;
  border: none;
  background-color: transparent;
}

.form__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
}


.form__fields {
  border: none;
}

.form__input {
  background-color: transparent;
}

.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;

}


.column--left-side {
  padding-left: 60px;
  width: 267px;
  background-color: #efefef;
}

.column--right-side {

  width: 832px;
  background-color: #ffffff;
}

/* Sorting */

.sorting {
  margin-bottom: 60px;
  background: #efefef;
}


/* Products */

.products-list {

display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}
.product-item {
  position: relative;
}

.product-item:nth-of-type(2n) {
  margin-left: 40px;
}

.product-item__hover {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.product-item__hover a {
  margin-bottom: 20px;
}

.add-to-cart-button {
  width: 200px;
}

.add-to-compare-button {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.add-to-compare-button:hover,
.add-to-compare-button:focus {
  color: rgba(0, 0, 0, 1);
}

.add-to-compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-item__hover:hover {
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 1;
}

.product-item__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;

}

.product-item__title a {
  color: #000000;
}


/* Pagination */

.pagination {
  margin-left: 72px;
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
}

.pagination__nav,
.pagination_link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #000000;
}

.pagination_link {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #000000;
}

.pagination__nav:hover,
.pagination__nav:focus {
  background-color: #d8d8d8;
}

.pagination__nav:active {
  color: rgba(0, 0, 0, 0.3);
}


