@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.content__button {
  position: relative;
  z-index: 1;

  display: block;
  width: 220px;

  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.content__button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -1;

  display: block;
  width: inherit;
  height: 8px;

  background: #f0c42e;
}

.content__button:hover::after,
.content__button:focus::after {
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.content__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.list-format {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.inner-page .page-header {
  margin-bottom: 39px;
}
.page-header__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 60px;
  padding-bottom: 48px;

  background-color: #f7e196;
  background-image: -o-linear-gradient(#ffffff 17%, #f7e196 17%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #ffffff), color-stop(17%, #f7e196));
  background-image:    linear-gradient(#ffffff 17%, #f7e196 17%);

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.page-header__logo-container {
  -ms-flex-order: 0;
  order: 0;
  margin-top: 19px;
  margin-bottom: 25px;

  -webkit-box-ordinal-group: 1;
}

.page-header__logo {
  display: block;
}

.inner-page .page-header__logo-container:hover,
.inner-page .page-header__logo-container:focus {
  opacity: 0.6;
}

.inner-page .page-header__logo-container:active {
  opacity: 0.3;
}

.top {
  margin-bottom: 36px;
}

.main-menu__catalog {
  position: relative;

  padding-right: 30px;
}

.main-menu__catalog::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 230px;

  width: 20px;
  height: 20px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
}

.page-navigation .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 500px;

  -ms-flex-wrap: wrap;
}

.sub-menu .column {
  width: 200px;
  margin-right: 0;
}

.sub-menu .column:first-child {
  margin-right: 40px;
}

.right-column .main-menu__item:nth-child(3n + 1) {
  margin-right: auto;
}

.right-column .main-menu__item:nth-child(3n + 2) {
  margin-right: 70px;
}

.right-column .main-menu__item:nth-child(3n + 3) {
  margin-left: auto;
}

.header-user-menu__button {
  position: relative;

  padding-left: 27px;
}

.right-column .header-user-menu__button:nth-child(3n + 1) {
  margin-right: auto;
}

.right-column .header-user-menu__button:nth-child(3n + 2) {
  margin-left: 174px;
}

.right-column .header-user-menu__button:nth-child(3n + 3) {
  margin-left: auto;
}

.right-column .header-user-menu__button--loggedin:nth-child(4n + 1) {
  margin-right: 18px;
  margin-left: 0;

  letter-spacing: 0.2px;
}

.right-column .header-user-menu__button--loggedin:nth-child(4n + 2) {
  margin-right: auto;
  margin-left: 0;
  padding-left: 0;

  letter-spacing: 0.2px;
}

.right-column .header-user-menu__button--loggedin:nth-child(4n + 3) {
  margin-right: 0;
  margin-left: auto;

  letter-spacing: 0.2px;
}

.right-column .header-user-menu__button--loggedin:nth-child(4n + 4) {
  margin-right: 0;
  margin-left: 36px;

  letter-spacing: 0.2px;
}

.user-button::before,
.login-button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.logout-button {
  opacity: 0.3;
}

.compare-button::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 6px;

  width: 15px;
  height: 15px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.cart-button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.main-menu__item {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-menu__item:hover,
.main-menu__item:focus {
  opacity: 0.6;
}

.main-menu__item:active {
  opacity: 0.3;
}

.sub-menu {
  position: absolute;
  top: 21;
  left: -60px;
  z-index: 10;

  width: 1100px;
  min-height: 141px;
  padding-top: 21px;
  padding-left: 60px;

  background-color: #f7e196;
  visibility: hidden;
}

.sub-menu .columns {
  justify-content: flex-start;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.main-menu__wrapper {
  position: relative;
}

.main-menu__wrapper:hover .sub-menu,
.main-menu__catalog:focus + .sub-menu {
  visibility: visible;
}

.sub-menu__item {
  display: block;
  margin-bottom: 1px;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: inherit;
  color: #000000;
  letter-spacing: 0.1px;
}

.sub-menu__item:hover,
.sub-menu__item:focus {
  opacity: 0.6;
}

.sub-menu__item:active {
  opacity: 0.3;
}

.header-user-menu__button {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: inherit;
  color: #000000;
}

.header-user-menu__button:hover,
.header-user-menu__button:focus {
  opacity: 0.6;
}

.header-user-menu__button:active {
  opacity: 0.3;
}

.page-header__logo--clickable:hover,
.page-header__logo--clickable:focus {
  opacity: 0.6;
}

.page-header__logo--clickable:active {
  opacity: 0.3;
}

.top .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 500px;
  padding-top: 4px;

  -ms-flex-wrap: wrap;
}

.main-menu__item {
  display: block;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form__field {
  width: 355px;
  padding: 1px 36px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0;

  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 1px 7px;
  border: 2px solid transparent;
}

.search-form__button {
  display: none;
  padding-right: 20px;
  padding-left: 20px;

  font: inherit;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  text-align: center;
  letter-spacing: 0;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__field::-webkit-input-placeholder {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.search-form__field::-moz-placeholder {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.search-form__field:-ms-input-placeholder {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.search-form__field::-ms-input-placeholder {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.search-form__field::placeholder {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.2px;
}

.search-form__field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__field:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__field:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__field:focus {
  border-bottom: 2px solid #000000;
}

.search-form__field:focus + .search-form__button,
.search-form__button:active {
  display: block;
}

.search-form__button:hover,
.search-form__button:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.slider {
  margin-bottom: 100px;
}

.slider__border {
  position: relative;

  background-image: -o-linear-gradient(#f7e196 23%, #ffffff 23%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #f7e196), color-stop(23%, #ffffff));
  background-image:    linear-gradient(#f7e196 23%, #ffffff 23%);
}

.slider .left-side {
  width: 560px;
  max-height: 485px;
  margin-right: 39px;
}

.slider__item {
  justify-content: flex-start;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.slider__item--one .slider__image {
  padding-top: 3px;
  padding-left: 90px;
}

.slider__item--two .slider__image {
  padding-top: 12px;
  padding-left: 117px;
}

.slider__item--three .slider__image {
  padding-top: 65px;
  padding-left: 30px;
}

.slider .right-side {
  position: relative;

  width: 500px;
  padding-top: 34px;
}

.slider .right-side::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -15px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
}

.slider .right-side::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 1px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider__item--one .right-side::after {
  content: "01";
}

.slider__item--two .right-side::after {
  content: "02";
}

.slider__item--three .right-side::after {
  content: "03";
}

.slider__item:nth-of-type(1) {
  display: none;
}

.slider__item:nth-of-type(2) {
  display: none;
}

.slider__item:nth-of-type(3) {
  display: none;
}

.slider__motto {
  position: relative;
  z-index: 1;

  width: 600px;
  margin-bottom: 19px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 1px;
}

.slider__text {
  width: 500px;
  margin-bottom: 52px;
}

.slider__button {
  width: 220px;
  margin-bottom: 34px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.feature-item {
  margin-right: auto;
}

.feature-item:last-child {
  margin-right: 71px;
}

.slider__item--three .feature-item:first-child {
  margin-right: 48px;
}

.feature-item__text--big {
  margin-bottom: 17px;

  font-weight: 300;
  font-size: 36px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.feature-item__text--small {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.slider__label {
  position: absolute;
  bottom: 149px;
  z-index: 20;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.slider__label:nth-of-type(1) {
  right: 146px;
}

.slider__label:nth-of-type(2) {
  right: 113px;
}

.slider__label:nth-of-type(3) {
  right: 80px;
}

.slider__label::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;

  width: 10px;
  height: 10px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.slider__label::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;

  display: none;
  width: 4px;
  height: 4px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.slider__btn:nth-of-type(1):checked ~ .slider__label:nth-of-type(1)::after {
  display: block;
}

.slider__btn:nth-of-type(2):checked ~ .slider__label:nth-of-type(2)::after {
  display: block;
}

.slider__btn:nth-of-type(3):checked ~ .slider__label:nth-of-type(3)::after {
  display: block;
}

.slider__btn:nth-of-type(1):checked ~ .slider__item:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__btn:nth-of-type(2):checked ~ .slider__item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__btn:nth-of-type(3):checked ~ .slider__item:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular {
  margin-bottom: 56px;
}
.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.popular__item {
  width: 160px;
}

.popular__item a {
  color: #000000;
}

.popular__img-bg {
  background-color: rgba(240, 197, 46, 0.5);
}

.popular__img {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-repeat: no-repeat;
}

.popular__item--vr .popular__img {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 50%;
}

.popular__item--monopods .popular__img {
  background-image: url("../img/popular-2.svg");
  background-position: 51% 96%;
}

.popular__item--cameras .popular__img {
  background-image: url("../img/popular-3.svg");
  background-position: 55% 52%;
}

.popular__item--fitness-trackers .popular__img {
  background-image: url("../img/popular-4.svg");
  background-position: 50% 52%;
}

.popular__item--smart-watches .popular__img {
  background-image: url("../img/popular-5.svg");
  background-position: 52% 52%;
}

.popular__item--copters .popular__img {
  background-image: url("../img/popular-6.svg");
  background-position: 49% 54%;
}

a:hover .popular__img-bg,
a:focus .popular__img-bg {
  background-color: rgba(240, 197, 46, 1);
}

a:active .popular__img {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.popular__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular__title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.popular__item--monopods .popular__title {
  width: 100px;
}

.services {
  margin-bottom: 94px;
  padding-top: 5px;
  padding-bottom: 69px;

  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 105px 0 0 #ffffff;
          box-shadow: inset 0 105px 0 0 #ffffff;
}

.services__left-side {
  width: 278px;
  margin-right: 95px;
  padding-top: 92px;
  padding-bottom: 32px;

  border-right: 7px solid #000000;
}

.services__button {
  width: 160px;
  margin-bottom: 48px;
}

.services__button:active {
  color: #f7e184;
}

.services__input:nth-of-type(1):checked ~ .services__button:nth-of-type(1)::after {
  width: 278px;

  background-color: #000000;
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.services__input:nth-of-type(1):checked ~ .services__button:nth-of-type(1) {
  color: #f7e184;
}

.services__input:nth-of-type(2):checked ~ .services__button:nth-of-type(2)::after {
  width: 278px;

  background-color: #000000;
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}
.services__input:nth-of-type(2):checked ~ .services__button:nth-of-type(2) {
  color: #f7e184;
}

.services__input:nth-of-type(3):checked ~ .services__button:nth-of-type(3)::after {
  width: 278px;

  background-color: #000000;
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.services__input:nth-of-type(3):checked ~ .services__button:nth-of-type(3) {
  color: #f7e184;
}

.services__right-side {
  width: 780px;
}

.services__list {
  padding-top: 2px;
  padding-left: 21px;
}

.services__item {
  position: relative;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-show {
  display: block;
}

.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 557px 35px;
}

.warranty {
  overflow: hidden;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 540px 60px;
}

.credit {
  overflow: hidden;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 531px 60px;
}

.content__page-title,
.content__section-title {
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.6px;
}

.services__title {
  margin-bottom: 33px;
  padding-top: 25px;
}

.content__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.services__text {
  max-width: 420px;
}

.services .columns {
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.brands {
  margin-bottom: 75px;
}

.brands__list {
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.brands__item a {
  -webkit-filter: opacity(0.3) grayscale(1);
          filter: opacity(0.3) grayscale(1);
}

.brands__item a:hover,
.brands__item a:focus {
  -webkit-filter: none;
          filter: none;
}

.about {
  position: relative;

  width: 475px;
  padding-top: 19px;
}

.about::before {
  content: "";
  position: absolute;
  top: 6px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about__title {
  margin-bottom: 45px;
}

.about__list-item {
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.8px;
}

.about__text {
  margin-bottom: 30px;
}

.about__list {
  margin-top: 70px;
  margin-bottom: 69px;
  padding-left: 34px;
}
.about__list-item {
  position: relative;

  margin-bottom: 10px;
}

.about__list-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about__button {
  width: 260px;
}

.contacts {
  position: relative;

  width: 560px;
  margin-left: auto;
  padding-top: 19px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 6px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts__title {
  margin-bottom: 44px;
}

.contacts__text {
  margin-bottom: 38px;
}

.contacts__button {
  width: 260px;
  margin-top: 70px;
}

.page-footer {
  margin-top: 93px;
  padding-top: 65px;
  padding-bottom: 56px;

  background-color: #454545;
}

.page-footer__left-side {
  position: relative;

  width: 260px;
  margin-right: 108px;
}

.page-footer__left-side::after {
  content: "";
  position: absolute;
  top: 173px;

  width: 80px;
  height: 6px;

  background-color: #ffc600;
}

.page-footer__logo {
  margin-bottom: 6px;
}

.page-footer__logo--clickable:hover,
.page-footer__logo--clickable:focus {
  opacity: 0.6;
}

.page-footer__logo--clickable:active {
  opacity: 0.3;
}

.page-footer__text {
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.page-footer__mid-side {
  width: 431px;
  margin-top: 68px;
  margin-right: auto;
}

.page-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 428px;
  margin-top: 1px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.page-footer__menu-item a {
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4.3px;
}

.page-footer__menu-item a:hover,
.page-footer__menu-item a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
  margin-top: 61px;
  margin-left: 142px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.page-footer__social-item {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.page-footer__social-item:hover,
.page-footer__social-item:focus {
  opacity: 0.6;
}

.page-footer__social-item:active {
  opacity: 0.1;
}

.facebook {
  background-image: url("../img/facebook.svg");
}
.instagram {
  background-image: url("../img/instagram.svg");
}
.twitter {
  background-image: url("../img/twetter.svg");
}

.page-footer__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  align-items: flex-end;
  width: 300px;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
  -ms-flex-wrap: wrap;
}

.page-footer__user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 37px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.page-footer__button {
  position: relative;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  /* margin-left: 59px; */
  font-family: inherit;
  color: #ffffff;
}

.page-footer .login-button::before {
  top: 8px;
  left: -25px;

  background-image: url("../img/user-footer.svg");
}

.page-footer .compare-button::before {
  top: 9px;
  left: -19px;

  background-image: url("../img/compare-footer.svg");
}

.page-footer .cart-button::before {
  top: 8px;
  left: -23px;

  background-image: url("../img/cart-footer.svg");
}

.page-footer__phone {
  margin-bottom: 61px;
}

.page-footer__button:hover,
.page-footer__button:focus {
  opacity: 0.6;
}

.page-footer__button:active {
  opacity: 0.3;
}

.page-footer__dev-link:hover,
.page-footer__dev-link:focus {
  opacity: 0.6;
}

.page-footer__dev-link:active {
  opacity: 0.3;
}

.inner-page-footer .container {
  width: 1160px;
  padding-right: 0;
  padding-left: 0;
}

.inner-page-footer {
  padding-top: 51px;
  padding-bottom: 61px;

  color: white;

  background-color: #454545;
}

.inner-page-footer a {
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.row--top {
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 12px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.inner-page-footer__logo {
  padding-top: 3px;
}

.inner-page-footer__logo:hover,
.inner-page-footer__logo:focus {
  opacity: 0.6;
}

.inner-page-footer__logo:active {
  opacity: 0.3;
}

.inner-page-footer__user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-self: flex-start;
  width: 480px;

  -ms-flex-item-align: start;
  -ms-flex-wrap: wrap;
}

.inner-page-footer__user-menu-item {
  position: relative;

  padding-left: 27px;
}

.inner-page-footer__user-menu-item::before {
  content: "";
  position: absolute;

  width: 13px;
  height: 12px;

  background-repeat: no-repeat;
}

.inner-page-footer__user-button::before {
  top: 9px;
  left: 3px;

  background-image: url("../img/user-footer.svg");
}

.inner-page-footer__compare-button::before {
  top: 11px;
  left: 7px;

  background-image: url("../img/compare-footer.svg");
}

.inner-page-footer__cart-button::before {
  top: 9px;
  left: 5px;

  background-image: url("../img/cart-footer.svg");
}

.inner-page-footer__user-menu-item:first-child {
  margin-right: 17px;

  letter-spacing: 0.4px;
}

.inner-page-footer__user-menu-item:nth-child(2) {
  padding-left: 0;
}

.inner-page-footer__user-menu-item:nth-child(3) {
  margin-left: 37px;
}

.inner-page-footer__user-menu-item:last-child {
  margin-left: auto;
}

.inner-page-footer__user-menu-item:hover,
.inner-page-footer__user-menu-item :focus {
  color: rgba(255, 255, 255, 0.6);
}

.inner-page-footer__user-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page-footer__user-menu .inner-page-footer__logout-button {
  color: rgba(255, 255, 255, 0.3);
}

.row--mid {
  align-items: center;
  margin-bottom: 48px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.inner-page-footer__main-menu {
  position: relative;
  top: 2px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 428px;
  margin-left: 164px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.inner-page-footer__main-menu-item:hover,
.inner-page-footer__main-menu-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.inner-page-footer__main-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page-footer__phone {
  margin-left: auto;
}

.row--bott {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.row--bott::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc500;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 142px;
  margin-right: 482px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.social-menu__item {
  display: block;
  width: 33px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-menu__item:hover,
.social-menu__item:hover {
  opacity: 0.6;
}

.social-menu__item:active {
  opacity: 0.1;
}

.inner-page-footer__dev-link {
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page-footer__dev-link:hover,
.inner-page-footer__dev-link:focus {
  opacity: 0.6;
}

.inner-page-footer__dev-link:active {
  opacity: 0.3;
}

.write-us {
  position: fixed;
  top: 50px;
  left: calc(50% - 960px / 2);
  z-index: 30;

  display: none;
  width: 960px;
  padding-top: 93px;
  padding-bottom: 85px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.write-us .container {
  width: 760px;
  margin: 0 auto;
}

.columns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.half-part {
  width: 360px;
}

.close_button {
  position: absolute;
  top: 21px;
  right: 21px;

  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  opacity: 0.5;
}

.close_button:hover,
.close_button:focus {
  opacity: 1;
}

.close_button:active {
  opacity: 0.3;
}

.write-us__label {
  display: inline-block;
  margin-bottom: 6px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.textarea-label {
  letter-spacing: 0.3px;
}

.write-us__field,
.write-us__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  letter-spacing: 0.5px;

  background-color: #f2f2f2;
  border: none;
}

.write-us__field {
  height: 50px;
  padding-left: 19px;
}

.write-us__textarea {
  height: 156px;
  margin-bottom: 43px;
  padding-top: 16px;
  padding-left: 20px;

  letter-spacing: 0.3px;

  resize: none;
}

.write-us__field:hover,
.write-us__textarea:hover {
  background-color: #eaeaea;
}

.write-us__field:focus,
.write-us__textarea:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #f0c52e;
          box-shadow: inset 0 0 0 3px #f0c52e;
}

.write-us__field:invalid {
  background-color: #edb5b5;
}

.write-us__button {
  width: 200px;

  background-color: transparent;
  border: none;
}

.popup-map {
  position: fixed;
  top: 50px;
  left: calc(50% - 960px / 2);
  z-index: 30;

  display: none;
  width: 960px;
  height: 560px;

  background-color: #ffffff;
  background-image: url("../img/map-big.jpg");
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.content__header {
  margin-bottom: 42px;
}

.content__wrapper {
  padding: 0 60px;
}

.modal-show {
  display: block;

  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  70% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 38px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans";
  color: #000000;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0;
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.2);
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -24px;

  width: 7px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.filters-sorting__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  letter-spacing: 3.6px;
}

.filters-title {
  padding-left: 60px;
}

.sorting-title {
  margin-right: 50px;
  margin-left: 72px;
}

.column--left-side {
  width: 328px;
  padding: 8px 0;

  background-color: #dcdcdc;
}

.column--right-side {
  width: 832px;
  padding: 8px 0;

  background-color: #efefef;
}

.sorting__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.bg-wrapper-sorting {
  position: relative;
}

.bg-wrapper-sorting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: calc(50vw);
  height: 100%;

  background-color: #dcdcdc;
}
.bg-wrapper-sorting::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: calc(50vw + 238px);
  height: 100%;

  background-color: #efefef;
}

.sorting__type {
  width: 300px;
  margin-right: auto;
}

.sorting__button {
  color: #000000;

  opacity: 0.3;
}

.sorting__type .sorting__button {
  margin-right: 23px;
}

.sorting__type .sorting__button:last-child {
  margin-right: 0;
}

.sorting__button:hover,
.sorting__button:focus {
  opacity: 0.6;
}

.sorting__button:active {
  opacity: 1;
}

.checked {
  opacity: 1;
}

.sorting__direction {
  width: 60px;
}

.sorting__direction .sorting__button {
  position: relative;
}

.sorting__direction .sorting__button::before {
  content: "";
  position: absolute;
  top: -4px;

  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting__direction .sorting__button:focus::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.sorting__button--up::before {
  left: 19px;

  background-image: url("../img/icon-up-dir.svg");
}

.sorting__button--down::before {
  left: 49px;

  background-image: url("../img/icon-down-dir.svg");
}

.bg-wrapper-products {
  position: relative;
}

.bg-wrapper-products::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: calc(50vw - 328px);
  height: 100%;

  background-color: #efefef;
}

.bg-wrapper-products .column--left-side {
  background-color: #efefef;
}

.filters {
  width: 200px;
  margin-left: 60px;
  padding-top: 60px;
}

.filter__price-range {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 102px;
  margin-bottom: 12px;
  padding-top: 32px;

  border-bottom: 2px solid #000000;
}

.price__line {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;

  background-color: #dbdbdb;
}

.price__range {
  position: relative;

  width: 60%;
  height: 100%;

  background-color: #91c92f;
}

.price__handler {
  position: absolute;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #dbdbdb;
          box-shadow: 0 2px 1px 0 #dbdbdb;
}

.price__handler--min {
  top: 21px;
  left: -6px;
}

.price__handler--max {
  top: 21px;
  left: 108px;
}

.price__handler:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.price__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.price__input {
  width: 65px;

  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: none;
}

.filter-sorting-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.filters__title {
  background-color: #dcdcdc;
}

.filter {
  padding-top: 8px;

  background-color: #efefef;
  border-top: 2px solid #000000;
}

.filters__button {
  width: 200px;

  background-color: transparent;
  border: none;
}

.form__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0;
}

.form__fields {
  margin: 0;

  border: none;
}

.form__fields--color {
  margin-bottom: 11px;
  padding: 0;
  padding-bottom: 31px;

  border-bottom: 2px solid #000000;
}

.form__title--color {
  margin-bottom: 17px;
}

.form__label--color {
  position: relative;

  padding-left: 39px;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  color: #000000;
  letter-spacing: 0;
}

.form__label--color::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form__fields--bluetooth {
  margin-bottom: 43px;
  padding: 0;
}
.form__title--bluetooth {
  margin-bottom: 18px;
}

.form__fields--bluetooth .form__item {
  margin-bottom: 4px;
}

.form__label--bluetooth {
  position: relative;

  padding-left: 39px;
}

.form__label--bluetooth::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.form__input {
  background-color: transparent;
}

.form__input:focus + .form__label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0;
}

.form__label--color:hover::before,
.form__label--color:focus::before {
  opacity: 0.6;
}

.form__label--color:active::before {
  opacity: 1;
}

.form__input:disabled + .form__label--color,
.form__input:disabled + .form__label--color::before {
  opacity: 0.25;
}

.form__label--bluetooth:hover::before,
.form__label--bluetooth:focus::before {
  opacity: 0.6;
}

.form__label--bluetooth:active::before {
  opacity: 1;
}

.form__label--bluetooth:disabled::before {
  opacity: 0.25;
}

.form__input:disabled + .form__label--bluetooth,
.form__input:disabled + .form__label--bluetooth::before {
  opacity: 0.25;
}

.form__input:checked ~ .form__label--color::before {
  background-image: url("../img/checkbox-on.svg");
}

.form__input:checked ~ .form__label--bluetooth::before {
  background-image: url("../img/radio-on.svg");
}

.column__products--right-side {
  padding: 0;

  background-color: #ffffff;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 68px;
  padding-left: 72px;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}
.product-item {
  position: relative;

  width: 360px;
  margin-bottom: 27px;
}

.product-item:nth-of-type(2n) {
  margin-left: 40px;
}
.product-item:nth-last-of-type(1),
.product-item:nth-last-of-type(2) {
  margin-bottom: 16px;
}

.product-item__image {
  margin-bottom: 6px;
}

.product-item__hover {
  position: absolute;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;

  opacity: 0;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.product-item__hover a {
  margin-bottom: 20px;
}

.add-to-cart-button {
  width: 200px;
}

.add-to-compare-button {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
}

.add-to-compare-button:hover,
.add-to-compare-button:focus {
  color: rgba(0, 0, 0, 1);
}

.add-to-compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-item__hover:hover {
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 1;
}
.product-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.product-item__title {
  width: 260px;
  margin-right: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0;
}

.product-item__title--short {
  width: 200px;
}

.product-item__title a {
  color: #000000;
}

.product-item__price {
  letter-spacing: 1px;
}

.new {
  position: relative;
  top: 0;
  right: 0;
}

.new::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;

  width: 62px;
  height: 62px;

  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin-bottom: 77px;
  margin-left: 72px;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin-top: 4px;
  margin-left: 9px;

  -ms-flex-wrap: wrap;
}

.pagination__item {
  margin-right: 28px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__nav,
.pagination_link {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pagination__nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  padding: 24px 30px;
}

.pagination__nav--back {
  letter-spacing: 3.5px;
}

.pagination__nav--front {
  padding-right: 26px;

  letter-spacing: 3.5px;
}

.pagination_link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination_link:hover,
.pagination_link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination_link:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__nav:hover,
.pagination__nav:focus {
  background-color: #d8d8d8;
}

.pagination__nav:active {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #000000;
}
