@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.content__button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;
  color: #000000;
  width: 220px;
  z-index: 1;
}

.content__button::after {
  content: "";
  width: inherit;
  height: 8px;
  background: #f0c42e;
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  z-index: -1;
}

.content__button:hover::after,
.content__button:focus::after {
  transform: scaleY(5);
}

.content__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.list-format {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  /* width: 50%; */
}

/* Header */

.inner-page .page-header {
  margin-bottom: 39px;
}
.page-header__background {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  padding-bottom: 48px;
  background-color: #f7e196;
  background-image: linear-gradient(#ffffff 17%, #f7e196 17%);
}

.page-header__logo-container {
  order: 0;
  margin-top: 21px;
  margin-bottom: 28px;
}

.page-header__logo {
  display: block;
}

.inner-page .page-header__logo-container:hover,
.inner-page .page-header__logo-container:focus {
  opacity: 0.6;
}

.inner-page .page-header__logo-container:active {
  opacity: 0.3;
}

.top {
  margin-bottom: 33px;
}

.main-menu__catalog {
  position: relative;
}

.main-menu__catalog::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 230px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
}

.page-navigation .right-column {
  display: flex;
  flex-wrap: wrap;
}

.sub-menu .column {
  width: 200px;
  margin-right: 0;
}

.sub-menu .column:first-child {
  margin-right: 40px;
}

.right-column .main-menu__item:first-child {
  /* margin-left: 20px; */
  margin-right: 34px;
}

.right-column .main-menu__item:last-child {
  margin-left: 104px;
}

.header-user-menu__button {
  position: relative;
  padding-left: 27px;
}

.right-column .header-user-menu__button:first-child {
  /* margin-right: 20px; */
  /* margin-left: 46px; */
}

.right-column .header-user-menu__button:nth-child(2) {
  margin-left: 211px;
}

.right-column .header-user-menu__button:last-child {
  margin-left: 38px;
}

.right-column .header-user-menu__button--loggedin:nth-child(2) {
  margin-left: -5px;
  margin-right: 57px;
}

.user-button::before,
.login-button::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 0;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.logout-button {
  opacity: 0.3;
}

.compare-button::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 6px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.cart-button::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 4px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.main-menu__item {
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.6px;
}

.main-menu__item:hover,
.main-menu__item:focus {
  opacity: 0.6;
}

.main-menu__item:active {
  opacity: 0.3;
}

.sub-menu {
  display: none;
  position: absolute;
  padding-left: 60px;
  padding-top: 21px;
  width: 1100px;
  min-height: 141px;
  top: 21;
  left: -60px;
  z-index: 10;
  background-color: #f7e196;
}

.sub-menu .columns {
  justify-content: flex-start;
}

.main-menu__wrapper {
  position: relative;
  /* width: inherit; */
}

.main-menu__wrapper:hover .sub-menu,
.main-menu__wrapper:focus .sub-menu {
  display: block;
}

.sub-menu__item {
  display: block;
  margin-bottom: 1px;
  font-family: inherit;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.sub-menu__item:hover,
.sub-menu__item:focus {
  opacity: 0.6;
}

.sub-menu__item:active {
  opacity: 0.3;
}

.header-user-menu__button {
  font-family: inherit;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: #000000;
}

.header-user-menu__button:hover,
.header-user-menu__button:focus {
  opacity: 0.6;
}

.header-user-menu__button:active {
  opacity: 0.3;
}

.page-header__logo--clickable:hover,
.page-header__logo--clickable:focus {
  opacity: 0.6;
}

.page-header__logo--clickable:active {
  opacity: 0.3;
}

/* -------------------- */

.top .right-column {
  display: flex;
  flex-wrap: wrap;
}

.main-menu__item {
  display: block;
}

/* -------------------- */

/* search form */

.search-form {
  display: flex;
}

.search-form__field {
  width: 355px;
  padding: 1px 36px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 300;
  border: 2px solid transparent;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 2px 9px;
}

.search-form__button {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__field::placeholder {
  position: relative;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
}

.search-form__field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__field:focus {
  border-bottom: 2px solid #000000;
}

.search-form__field:focus + .search-form__button {
  display: block;
}

.search-form__button:hover,
.search-form__button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

/* Sliders */

.slider {
  margin-bottom: 101px;
}

.slider__border {
  background-image: linear-gradient(#f7e196 23%, #ffffff 23%);
  position: relative;
}

.slider .left-side {
  width: 560px;
  max-height: 485px;
  margin-right: 39px;
}

.slider__item {
  justify-content: flex-start;
}

.slider__item--one .slider__image {
  padding-left: 90px;
}

.slider__item--two .slider__image {
  padding-left: 117px;
  padding-top: 12px;
}

.slider__item--three .slider__image {
  padding-top: 65px;
  padding-left: 30px;
}

.slider .right-side {
  width: 500px;
  position: relative;
  padding-top: 33px;
}

.slider .right-side::after {
  content: "";
  position: absolute;
  right: -15px;
  top: -11px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  letter-spacing: 2px;
  line-height: 179px;
  color: #ffffff;
  font-weight: 800;
}

.slider .right-side::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 39px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider__item--one .right-side::after {
  content: "01";
}

.slider__item--two .right-side::after {
  content: "02";
}

.slider__item--three .right-side::after {
  content: "03";
}

.slider__item:nth-of-type(1) {
  display: none;
}

.slider__item:nth-of-type(2) {
  display: none;
}

.slider__item:nth-of-type(3) {
  display: none;
}

.slider__motto {
  position: relative;
  width: 600px;
  z-index: 1;
  margin-bottom: 19px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 1px;
}

.slider__text {
  width: 500px;
  margin-bottom: 54px;
}

.slider__button {
  width: 220px;
  margin-bottom: 34px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  margin-right: auto;
}

.feature-item:last-child {
  margin-right: 71px;
}

.slider__item--three .feature-item:first-child {
  margin-right: 48px;
}

.feature-item__text--big {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  /* line-height: 48px; */
  color: #000000;
  margin-bottom: 17px;
}

.feature-item__text--small {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
}

.slider__label {
  box-sizing: border-box;
  position: absolute;
  bottom: 149px;
  z-index: 20;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slider__label:nth-of-type(1) {
  right: 146px;
}

.slider__label:nth-of-type(2) {
  right: 113px;
}

.slider__label:nth-of-type(3) {
  right: 80px;
}

.slider__label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  right: 4px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider__label::after {
  display: none;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider__btn:nth-of-type(1):checked ~ .slider__label:nth-of-type(1)::after {
  display: block;
}

.slider__btn:nth-of-type(2):checked ~ .slider__label:nth-of-type(2)::after {
  display: block;
}

.slider__btn:nth-of-type(3):checked ~ .slider__label:nth-of-type(3)::after {
  display: block;
}

.slider__btn:nth-of-type(1):checked ~ .slider__item:nth-of-type(1) {
  display: flex;
}

.slider__btn:nth-of-type(2):checked ~ .slider__item:nth-of-type(2) {
  display: flex;
}

.slider__btn:nth-of-type(3):checked ~ .slider__item:nth-of-type(3) {
  display: flex;
}

/* Popular */

.popular {
  margin-bottom: 56px;
}
.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular__item {
  width: 160px;
}

.popular__item a {
  color: #000000;
}

.popular__img-bg {
  background-color: rgba(240, 197, 46, 0.5);
}

.popular__img {
  height: 160px;
  width: 160px;
  margin-bottom: 35px;
  background-repeat: no-repeat;
}

.popular__item--vr .popular__img {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 50%;
}

.popular__item--monopods .popular__img {
  background-image: url("../img/popular-2.svg");
  background-position: 51% 96%;
}

.popular__item--cameras .popular__img {
  background-image: url("../img/popular-3.svg");
  background-position: 55% 52%;
}

.popular__item--fitness-trackers .popular__img {
  background-image: url("../img/popular-4.svg");
  background-position: 50% 52%;
}

.popular__item--smart-watches .popular__img {
  background-image: url("../img/popular-5.svg");
  background-position: 52% 52%;
}

.popular__item--copters .popular__img {
  background-image: url("../img/popular-6.svg");
  background-position: 49% 54%;
}

a:hover .popular__img-bg,
a:focus .popular__img-bg {
  background-color: rgba(240, 197, 46, 1);
}

a:active .popular__img {
  filter: opacity(0.3);
}

.popular__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.popular__item--monopods .popular__title {
  width: 100px;
}

/* Services */

.services {
  background-color: #e5e5e5;
  box-shadow: inset 0 105px 0 0 #ffffff;
  padding-top: 5px;
  padding-bottom: 69px;
  margin-bottom: 94px;
}

.services__left-side {
  border-right: 7px solid #000000;
  width: 278px;
  margin-right: 95px;
  padding-top: 92px;
  padding-bottom: 32px;
}

.services__button {
  width: 160px;
  margin-bottom: 48px;
}

.services__button:active {
  color: #f7e184;
}

.services__input:nth-of-type(1):checked
  ~ .services__button:nth-of-type(1)::after {
  width: 278px;
  transform: scaleY(5);
  background-color: #000000;
}

.services__input:nth-of-type(1):checked ~ .services__button:nth-of-type(1) {
  color: #f7e184;
}

.services__input:nth-of-type(2):checked
  ~ .services__button:nth-of-type(2)::after {
  width: 278px;
  transform: scaleY(5);
  background-color: #000000;
}
.services__input:nth-of-type(2):checked ~ .services__button:nth-of-type(2) {
  color: #f7e184;
}

.services__input:nth-of-type(3):checked
  ~ .services__button:nth-of-type(3)::after {
  width: 278px;
  transform: scaleY(5);
  background-color: #000000;
}

.services__input:nth-of-type(3):checked ~ .services__button:nth-of-type(3) {
  color: #f7e184;
}

.services__right-side {
  width: 780px;
}

.services__list {
  padding-left: 21px;
  padding-top: 2px;
}

/* ----------------- */
.services__item {
  display: none;
  box-sizing: border-box;
  position: relative;
}

.block-show {
  display: block;
}

/* -------------------- */

.delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 557px 35px;
}

.warranty {
  overflow: hidden;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 540px 60px;
}

.credit {
  overflow: hidden;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 531px 60px;
}

.content__page-title,
.content__section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: 20px;
}

.services__title {
  padding-top: 25px;
  margin-bottom: 33px;
}

.content__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.services__text {
  max-width: 420px;
}

/* ---------------- */

.services .columns {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ---------------- */

/* Brands */
.brands {
  margin-bottom: 79px;
}

.brands__list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands__item a {
  filter: opacity(0.3) grayscale(1);
}

.brands__item a:hover,
.brands__item a:focus {
  filter: none;
}

/* About */
.about {
  width: 475px;
  position: relative;
  padding-top: 19px;
}

.about::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__title {
  margin-bottom: 45px;
}

.about__list-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.about__text {
  margin-bottom: 30px;
}

.about__list {
  margin-top: 70px;
  margin-bottom: 72px;
  padding-left: 34px;
}
.about__list-item {
  position: relative;
  margin-bottom: 10px;
}

.about__list-item::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 12px;
  left: -35px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
}

.about__button {
  width: 260px;
}

/* Contacts */
.contacts {
  position: relative;
  width: 560px;
  margin-left: auto;
  padding-top: 19px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts__title {
  margin-bottom: 46px;
}

.contacts__text {
  margin-bottom: 38px;
}

.contacts__button {
  margin-top: 70px;
  width: 260px;
}

/* Footer */

.page-footer {
  margin-top: 92px;
  padding-top: 65px;
  padding-bottom: 56px;
  background-color: #454545;
}

.page-footer__left-side {
  position: relative;
  width: 260px;
  margin-right: 108px;
}

.page-footer__left-side::after {
  content: "";
  width: 80px;
  height: 8px;
  position: absolute;
  top: 171px;
  background-color: #ffc600;
}

.page-footer__logo {
  margin-bottom: 7px;
}

.page-footer__logo--clickable:hover,
.page-footer__logo--clickable:focus {
  opacity: 0.6;
}

.page-footer__logo--clickable:active {
  opacity: 0.3;
}

.page-footer__text {
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.page-footer__mid-side {
  width: 431px;
  margin-top: 70px;
  margin-right: auto;
}

.page-footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__menu-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.page-footer__menu-item a:hover,
.page-footer__menu-item a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  margin: 0 auto;
  margin-top: 58px;
}

.page-footer__social-item {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.page-footer__social-item:hover,
.page-footer__social-item:focus {
  opacity: 0.6;
}

.page-footer__social-item:active {
  opacity: 0.1;
}

.facebook {
  background-image: url("../img/facebook.svg");
}
.instagram {
  background-image: url("../img/instagram.svg");
}
.twitter {
  background-image: url("../img/twetter.svg");
}

.page-footer__right-side {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.page-footer__user-menu {
  margin-bottom: 21px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__button {
  position: relative;
  /* margin-left: 59px; */
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.page-footer .login-button::before {
  background-image: url("../img/user-footer.svg");
  top: 8px;
  left: -25px;
}

.page-footer .compare-button::before {
  background-image: url("../img/compare-footer.svg");
  top: 9px;
  left: -19px;
}

.page-footer .cart-button::before {
  background-image: url("../img/cart-footer.svg");
  top: 8px;
  left: -23px;
}

.page-footer__phone {
  margin-bottom: 60px;
}

.page-footer__button:hover,
.page-footer__button:focus {
  opacity: 0.6;
}

.page-footer__button:active {
  opacity: 0.3;
}

.page-footer__dev-link:hover,
.page-footer__dev-link:focus {
  opacity: 0.6;
}

.page-footer__dev-link:active {
  opacity: 0.3;
}

/* Inner page menu */

.inner-page-footer .container {
  width: 1160px;
  padding-left: 0;
  padding-right: 0;
}

.inner-page-footer {
  background-color: #454545;
  padding-top: 50px;
  padding-bottom: 65px;

  color: white;
}

.inner-page-footer a {
  color: white;
}

.row {
  display: flex;
}

.row--top {
  padding-top: 15px;
  margin-bottom: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.inner-page-footer__logo:hover,
.inner-page-footer__logo:focus {
  opacity: 0.6;
}

.inner-page-footer__logo:active {
  opacity: 0.3;
}

.inner-page-footer__user-menu {
  width: 454px;
  display: flex;
  align-self: flex-start;
}

.inner-page-footer__user-menu-item {
  position: relative;
}

.inner-page-footer__user-menu-item::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 8px;
  left: -22px;
  background-repeat: no-repeat;
}

.inner-page-footer__user-button::before {
  background-image: url("../img/user-footer.svg");
}

.inner-page-footer__compare-button::before {
  background-image: url("../img/compare-footer.svg");
}

.inner-page-footer__cart-button::before {
  background-image: url("../img/cart-footer.svg");
}

.inner-page-footer__user-menu-item:first-child {
  margin-right: 22px;
}

.inner-page-footer__user-menu-item:nth-child(3) {
  margin-left: 65px;
}

.inner-page-footer__user-menu-item:last-child {
  margin-left: auto;
}

.inner-page-footer__user-menu-item:hover,
.inner-page-footer__user-menu-item :focus {
  color: rgba(255, 255, 255, 0.6);
}

.inner-page-footer__user-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page-footer__user-menu .inner-page-footer__logout-button {
  color: rgba(255, 255, 255, 0.3);
}

.row--mid {
  align-items: center;
  margin-bottom: 48px;
}

.inner-page-footer__main-menu {
  margin-left: 163px;
  width: 430px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.inner-page-footer__main-menu-item:hover,
.inner-page-footer__main-menu-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.inner-page-footer__main-menu-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page-footer__phone {
  margin-left: auto;
}

.row--bott {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.row--bott::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: 16px;
  left: 0;
  background-color: #ffc500;
}

.social-menu {
  width: 144px;
  display: flex;
  justify-content: space-between;
  margin-right: 482px;
}

.social-menu__item {
  display: block;
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-menu__item:hover,
.social-menu__item:hover {
  opacity: 0.6;
}

.social-menu__item:active {
  opacity: 0.1;
}

.inner-page-footer__dev-link {
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-page-footer__dev-link:hover,
.inner-page-footer__dev-link:focus {
  opacity: 0.6;
}

.inner-page-footer__dev-link:active {
  opacity: 0.3;
}

/*  write us */

.write-us {
  display: none;
  position: fixed;
  top: 50px;
  left: calc(50% - 960px / 2);
  width: 960px;
  padding-top: 93px;
  padding-bottom: 85px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);
  z-index: 30;
}

.write-us .container {
  width: 760px;
  margin: 0 auto;
}

.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}

.half-part {
  width: 360px;
}

.close_button {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
}

.close_button:hover,
.close_button:focus {
  opacity: 1;
}

.close_button:active {
  opacity: 0.3;
}

.write-us__label {
  display: inline-block;
  margin-bottom: 6px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.textarea-label {
  letter-spacing: 0.3px;
}

.write-us__field,
.write-us__textarea {
  box-sizing: border-box;
  width: inherit;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.write-us__field {
  height: 50px;
  padding-left: 19px;
}

.write-us__textarea {
  height: 156px;
  resize: none;
  padding-left: 20px;
  padding-top: 16px;
  margin-bottom: 43px;
  letter-spacing: 0.3px;
}

.write-us__field:hover,
.write-us__textarea:hover {
  background-color: #eaeaea;
}

.write-us__field:focus,
.write-us__textarea:focus {
  background-color: #ffffff;
  /* border: 3px solid #f0c52e; */
  box-shadow: inset 0 0 0 3px #f0c52e;
}

.write-us__field:invalid {
  background-color: #edb5b5;
}

.write-us__button {
  width: 200px;
  background-color: transparent;
  border: none;
}

/* map */
.popup-map {
  display: none;
  position: fixed;
  top: 50px;
  left: calc(50% - 960px / 2);
  width: 960px;
  height: 560px;
  background-color: #ffffff;
  background-image: url("../img/map-big.jpg");
  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);
  z-index: 30;
}

.content__header {
  margin-bottom: 42px;
}

.content__wrapper {
  padding: 0 60px;
}

.modal-show {
  display: block;

  animation-name: open;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes open {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 38px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.2);
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 5px;
  right: -24px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

/* Sorting */
.filters-sorting__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
}

.filters-title {
  padding-left: 60px;
}

.sorting-title {
  margin-left: 72px;
  margin-right: 50px;
}

.column--left-side {
  width: 328px;
  background-color: #dcdcdc;
  padding: 8px 0;
}

.column--right-side {
  width: 832px;
  background-color: #efefef;
  padding: 8px 0;
}

.sorting__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bg-wrapper-sorting {
  position: relative;
}

.bg-wrapper-sorting::before {
  content: "";
  position: absolute;
  width: calc(50vw);
  height: 100%;
  top: 0;
  left: 0;
  background-color: #dcdcdc;
  z-index: -1;
}
.bg-wrapper-sorting::after {
  content: "";
  position: absolute;
  width: calc(50vw + 238px);
  height: 100%;
  top: 0;
  right: 0;
  background-color: #efefef;
  z-index: -1;
}

.sorting__type {
  width: 300px;
  margin-right: auto;
}

.sorting__button {
  color: #000000;
  opacity: 0.3;
}

.sorting__type .sorting__button {
  margin-right: 23px;
}

.sorting__type .sorting__button:last-child {
  margin-right: 0;
}

.sorting__button:hover,
.sorting__button:focus {
  opacity: 0.6;
}

.sorting__button:active {
  opacity: 1;
}

.checked {
  opacity: 1;
}

.sorting__direction {
  width: 60px;
}

.sorting__direction .sorting__button {
  position: relative;
}

.sorting__direction .sorting__button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: -4px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting__direction .sorting__button:focus::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.sorting__button--up::before {
  left: 19px;
  background-image: url("../img/icon-up-dir.svg");
}

.sorting__button--down::before {
  left: 49px;
  background-image: url("../img/icon-down-dir.svg");
}

/* --------------- */

/* Filters */

/* .bg-wrapper-sorting .column--left-side {
  background-color: #dcdcdc;
} */

.bg-wrapper-products {
  position: relative;
}

.bg-wrapper-products::after {
  width: calc(50vw - 328px);
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background-color: #efefef;
  z-index: -1;
}

.bg-wrapper-products .column--left-side {
  background-color: #efefef;
}

.filters {
  width: 200px;
  margin-left: 60px;
  padding-top: 60px;
}

.filter__price-range {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 12px;
  min-height: 102px;
  padding-top: 32px;
  border-bottom: 2px solid #000000;
}

.price__line {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #dbdbdb;
}

.price__range {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #91c92f;
}

.price__handler {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #dbdbdb;
}

.price__handler--min {
  top: 21px;
  left: -6px;
}

.price__handler--max {
  top: 21px;
  left: 108px;
}

.price__handler:hover {
  transform: scale(1.1);
}

.price__text {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  text-align: center;
}

.price__input {
  display: inline-block;
  width: 65px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
}

.filter-sorting-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

.filters__title {
  background-color: #dcdcdc;
}

.filter {
  padding-top: 8px;
  background-color: #efefef;
  border-top: 2px solid #000000;
}

.filters__button {
  width: 200px;
  border: none;
  background-color: transparent;
}

.form__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
}

.form__fields {
  margin: 0;
  border: none;
}

.form__fields--color {
  padding: 0;
  padding-bottom: 31px;
  margin-bottom: 11px;
  border-bottom: 2px solid #000000;
}

.form__title--color {
  margin-bottom: 17px;
}

.form__label--color {
  padding-left: 39px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 300;
}

.form__label--color::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  top: -2px;
  left: -2px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form__fields--bluetooth {
  padding: 0;
  margin-bottom: 45px;
}
.form__title--bluetooth {
  margin-bottom: 18px;
}

.form__fields--bluetooth .form__item {
  margin-bottom: 4px;
}

.form__label--bluetooth {
  padding-left: 39px;
  position: relative;
}

.form__label--bluetooth::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  left: -2px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.form__input {
  background-color: transparent;
}

.form__input:focus + .form__label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #000000;
}

.form__label--color:hover::before,
.form__label--color:focus::before {
  opacity: 0.6;
}

.form__label--color:active::before {
  opacity: 1;
}

.form__input:disabled + .form__label--color,
.form__input:disabled + .form__label--color::before {
  opacity: 0.25;
}

.form__label--bluetooth:hover::before,
.form__label--bluetooth:focus::before {
  opacity: 0.6;
}

.form__label--bluetooth:active::before {
  opacity: 1;
}

.form__label--bluetooth:disabled::before {
  opacity: 0.25;
}

.form__input:disabled + .form__label--bluetooth,
.form__input:disabled + .form__label--bluetooth::before {
  opacity: 0.25;
}

.form__input:checked ~ .form__label--color::before {
  background-image: url("../img/checkbox-on.svg");
}

.form__input:checked ~ .form__label--bluetooth::before {
  background-image: url("../img/radio-on.svg");
}

/* Products */
.column__products--right-side {
  padding: 0;
  background-color: #fff;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 68px;
  padding-left: 72px;
}
.product-item {
  position: relative;
  width: 360px;
  margin-bottom: 27px;
}

.product-item:nth-of-type(2n) {
  margin-left: 40px;
}
.product-item:nth-last-of-type(1),
.product-item:nth-last-of-type(2) {
  margin-bottom: 16px;
}

.product-item__image {
  margin-bottom: 6px;
}

.product-item__hover {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.product-item__hover a {
  margin-bottom: 20px;
}

.add-to-cart-button {
  width: 200px;
}

.add-to-compare-button {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.add-to-compare-button:hover,
.add-to-compare-button:focus {
  color: rgba(0, 0, 0, 1);
}

.add-to-compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-item__hover:hover {
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 1;
}
.product-item__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item__title {
  margin-right: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  width: 260px;
}

.product-item__title--short {
  width: 200px;
}

.product-item__title a {
  color: #000000;
}

.product-item__price {
  letter-spacing: 1px;
}

.new {
  position: relative;
  top: 0;
  right: 0;
}

.new::after {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  top: 27px;
  right: 27px;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Pagination */

.pagination {
  min-height: 70px;
  margin-left: 72px;
  margin-bottom: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.pagination__item {
  margin-right: 28px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__nav,
.pagination_link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.pagination__nav {
  box-sizing: border-box;
  padding: 24px 30px;
  height: 70px;
}

.pagination_link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination_link:hover,
.pagination_link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination_link:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__nav:hover,
.pagination__nav:focus {
  background-color: #d8d8d8;
}

.pagination__nav:active {
  color: rgba(0, 0, 0, 0.3);
}

.current {
  color: #000000;
}
